<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rebus" version="0.82.0" targetFramework="net45" />
  <package id="Rebus.StructureMap" version="0.82.0" targetFramework="net45" />
  <package id="structuremap" version="3.0.3.116" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="1.0.0" targetFramework="net45" />
</packages>
